<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.unreal.download">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <receiver
            android:name="org.unreal.update.UpdateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.unreal.update.start"/>
                <action android:name="org.unreal.update.progress"/>
                <action android:name="org.unreal.update.done"/>
                <action android:name="org.unreal.update.error"/>
                <action android:name="org.unreal.update.install"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.unreal.update"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/updatepath" />
        </provider>
    </application>

</manifest>